PATH_add ~/Downloads/FX3_SDK_1.3.4_MacOS/yagarto-4.7.2/bin
export FX3FWROOT=~/Downloads/FX3_SDK_1.3.4_MacOS/cyfx3sdk
export FX3_INSTALL_PATH=~/Downloads/FX3_SDK_1.3.4_MacOS/cyfx3sdk
export ARMGCC_INSTALL_PATH=~/Downloads/FX3_SDK_1.3.4_MacOS/yagarto-4.7.2